{% extends 'book_library/layouts/base.html' %}
{% load static %}
{% block 'content' %}
<h1>{{book.name}}</h1>
<div class="card mb-3">
<img src="{{ book.image.url }}" alt="{{ book.name }}"
       width="250" height="400"
       class="img-fuid mx-auto">
  <div class="card-body">
    <h3 class="card-title">{{book.name}}</h3>
    <h4 class="card-price">{{book.price}}</h4>
    <a href="{{book.authorname.show_url}}">{{book.authorname}}</a>
    <p class="card-text">{{book.info}}</p>
    <a href="{% url 'books' %}" class="btn btn-primary">Return</a>
    <a href="{% url 'update_book' book.id %}" class="btn btn-primary">Update Book </a>

  </div>
</div>
{% endblock %}
